<div class ="contents row">
  <% @rooms.each do |room| %>
    <div class="content_post" style="background-image: url(<%= room.image %>);">
    <%= simple_format(room.text)%>
    <span class="name">
        <%= room.name %>
      </span>
    </div>
  <% end %>
</div>